.search-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.searched-cards {
  overflow: scroll;
  flex-wrap: wrap;
  display: flex;
  width: 80%;
  height: 100vh;
}

.search-input {
  text-align: left;
  border-radius: 6rem;
  border: 1px solid rgb(160, 160, 160);
  padding: .6rem 2rem .6rem 1rem;
  width: 10rem;
  font-family: 'roboto';
  transition: .5s;
  margin-right: .4rem;
  font-size: .9rem;
}

.search-button {
  border: 1px solid rgb(160, 160, 160);
  font-size: .9rem;
  border-radius: 6rem;
  font-family: 'roboto';
  padding: .6rem 2rem .6rem 1rem;
  transition: .5s;
  margin-right: .4rem;
  text-align: center;
}

.search-button:hover {
  cursor: pointer;
  background-color: #1ac6ff;
}

.selected-resources-button {
  color: black;
  background-color: white;
  text-decoration: none;
  text-align: left;
  font-size: .9rem;
  border-radius: 6rem;
  border: 1px solid rgb(160, 160, 160);
  padding: .6rem 2rem .6rem 1rem;
  width: 10rem;
  font-family: 'roboto';
  transition: .5s;
}

.selected-resources-button:hover {
  background-color: #1ac6ff;
}

.welcome-heading {
  padding: 1.5rem;
  margin-top: 5rem;
  background-color: #E4E4E1;
  background-image: radial-gradient(at top center, rgba(255,255,255,0.03) 0%, rgba(0,0,0,0.03) 100%), linear-gradient(to top, rgba(255,255,255,0.1) 0%, rgba(143,152,157,0.60) 100%);
  width: 50%;
  height: 15rem;
}

.welcome {
  color: #f7f7f7;
}
