.search-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.searched-cards {
  flex-wrap: wrap;
  display: flex;
  width: 80%;
  // min-height: 100vh;
  background-color: blue;
}