.selected-card {
  display: flex;
  flex-direction: column;
  background-color: #E4E4E1;
  background-image: radial-gradient(at top center, rgba(255,255,255,0.03) 0%, rgba(0,0,0,0.03) 100%), linear-gradient(to top, rgba(255,255,255,0.1) 0%, rgba(143,152,157,0.60) 100%);
  background-blend-mode: normal, multiply; 
  height: 24rem;
  width: 100%;
  margin: 1rem;
  border-radius: 15px;
  // width: 95%;
  padding: .2rem .6rem;
}

.selected-card-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  // color: white;
}

.selected-card-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.selected-card-description {
  overflow: scroll;
  padding: .4rem;
  width: 65%;
  display: flex;
}

.selected-card-links {
  align-items: center;
  width: 35%;
  flex-direction: column;
  display: flex;
  // justify-content: flex-end;
}

.minus-button {
  margin-right: 2.2rem;
  width: 2rem;
  height: 2rem;
}

.minus-button:hover {
  cursor: pointer;
}

 .searched-title {
  margin-left: 2rem;
  color: black;
  font-weight: bold;
}

p {
  color: black;
}

