/* .App {
  background-image: url('https://www.picclickimg.com/d/w1600/pict/272889348038_/7x5ft-Backdrop-Vinyl-Photo-Studio-Props-Show-Background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .7;
} */

.heading {
  text-align: center;
  margin-bottom: .2rem;
  font-size: 2rem;
  font-family: 'Space Mono', monospace;
}

.title {
  margin-bottom: .2rem;
}

.heading :hover {
  cursor: pointer;
}