body {
  background-image: url('https://www.picclickimg.com/d/w1600/pict/272889348038_/7x5ft-Backdrop-Vinyl-Photo-Studio-Props-Show-Background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: .5; */
}
